<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relative_url }}">
  <link rel="alternate icon" href="{{ "/favicon.ico" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  {%- if page.layout == "home" -%}
    {%- include schema.html -%}
  {%- endif -%}
  <script defer src="{{ "/assets/js/client.js" | relative_url }}" data-website-id="b5fc2406-b860-447d-a93d-e0c02bc71263" data-host-url="https://umami.test001.nl"></script>
</head>
