<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relative_url }}">
  <link rel="alternate icon" href="{{ "/favicon.ico" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  {%- comment -%} Schema Markup {%- endcomment -%}
  {%- include website-schema.html -%}

  {%- if page.layout == "home" or page.layout == "landing" -%}
    {%- include schema.html -%}
    {%- include faq-schema.html -%}
  {%- endif -%}

  {%- if page.layout == "post" -%}
    {%- include article-schema.html -%}
  {%- endif -%}

  {%- include breadcrumb-schema.html -%}

  <script defer src="{{ "/assets/js/client.js" | relative_url }}" data-website-id="baec2dbc-6fc5-4963-a339-4f291353a79d" data-host-url="https://analytics.test001.nl"></script>
</head>
