--- --- // Override Minima's default content width (default is 800px)
$content-width: 1100px;

// Import Minima theme
@import "minima";

// Make footer columns fill the full width (50% each)
.footer-col-wrapper {
  width: 90%; // For debugging layout
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 100%;
  flex: 0 0 100%;
}

@media screen and (max-width: 600px) {
  .footer-col {
    width: 100%;
    flex: 0 0 100%;
  }
}